<div id="wrapper">
    <nav class="navbar navbar-expand-md navbar-dark bg-nutrikeeper-header">
        <a class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="menu-toggle"></span>
        </a>
        <a class="navbar-brand" href="#" id="brand">
            <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i> nutrikeeper
        </a>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="sidebar-menu-nutrikeeper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>   nutrikeeper
            </li>
            <li>
                <a href="#!/refeicoes">Refeições</a>
            </li>
            <li>
                <a href="#">Sobre</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");

        // Esconde ou exibe o logo dependendo do sidebar estar aberto
        if ($('#wrapper').hasClass('toggled')) {
            $('#brand').hide();
        } else {
            $('#brand').delay(200).fadeIn(500);
        }
    });

    // Fecha o menu caso o usuario clique fora dele
    $(document).ready(() => {
        $('#appview').click(function (e) {
            e.preventDefault();
            if ($('#wrapper').hasClass('toggled')) {
                $("#wrapper").toggleClass("toggled");
                $('#brand').delay(200).fadeIn(500);
            }
        });
    });

    // trata navegacao do menu
    $('li').click(() => {
        $("#wrapper").toggleClass("toggled");
        $('#brand').delay(200).fadeIn(500);
    });
</script>