<div class="padding-navbar">
    <div class="d-flex flex-row justify-content-around ">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Felipe Pereira</h4>
                <button class="btn btn-primary" ng-click="iniciarDb('felipe')">Iniciar como Felipe</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Valéria Lobato</h4>
                <button class="btn btn-primary" ng-click="iniciarDb('valeria')">Iniciar como Valéria</button>
            </div>
        </div>
    </div>
</div>