<div id="wrapper">
    <nav class="navbar navbar-expand-md navbar-dark bg-mealkeeper-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="menu-toggle"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="sidebar-menu-mealkeeper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Meal Keeper</a>
            </li>
            <li>
                <a href="#">Lista de substituição</a>
            </li>
            <li>
                <a href="#">Sobre</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

</script>