<img src="images/emjejum.jpg" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Em jejum'">
<img src="images/desjejum.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Desjejum'">
<img src="images/colacao.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Colação'">
<img src="images/almoco.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Almoço'">
<img src="images/lanche.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Lanche'">
<img src="images/jantar.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Jantar'">


<div class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="item in refeicao.itens">

        <div hm-press="onPress(item)">
            <span class="categoria pao" style="float:right;" ng-if="item.produto.dsCategoria == 'Pães e Similares'"> 
                <img src="images/pao.png" class="img-fluid">
            </span>
            <span class="categoria castanha" style="float:right;" ng-if="item.produto.dsCategoria == 'Castanhas'"> 
                <img src="images/castanha.png" class="img-fluid">
            </span>
            <span class="categoria carne" style="float:right;" ng-if="item.produto.dsCategoria == 'Carnes'"> 
                <img src="images/carne.png" class="img-fluid">
            </span>
            <span class="categoria leite" style="float:right;" ng-if="item.produto.dsCategoria == 'Leite e derivados'"> 
                <img src="images/leite.png" class="img-fluid">
            </span>
            <span class="categoria arroz" style="float:right;" ng-if="item.produto.dsCategoria == 'Arroz'"> 
                <img src="images/arroz.png" class="img-fluid">
            </span>
            <span class="categoria feijao" style="float:right;" ng-if="item.produto.dsCategoria == 'Feijão'"> 
                <img src="images/feijao.png" class="img-fluid">
            </span>
            <span class="categoria vegetal" style="float:right;" ng-if="item.produto.dsCategoria == 'Vegetal refogado, grelhado ou vapor'"> 
                <img src="images/vegetal.png" class="img-fluid">
            </span>
            <span class="categoria fruta" style="float:right;" ng-if="item.produto.dsCategoria == 'Fruta'"> 
                <img src="images/fruta.png" class="img-fluid">
            </span>
            <h5 class="mb-1">{{item.produto.dsProduto}}</h5>

            <small>{{item.produto.dsMedida}} </small>
        </div>
    </li>
</div>

<button type="button" class="btn btn-lg btn-block fixed-bottom refeicao-realizada" ng-class="{'btn-primary': !refeicao.realizada, 'btn-success': refeicao.realizada}" ng-disabled="refeicao.realizada" data-toggle="modal" data-target="#confirmaRefeicao">
    <i ng-class="{'fa fa-check': refeicao.realizada, 'fa fa-thumbs-up': !refeicao.realizada}" aria-hidden="true"></i>  {{!refeicao.realizada? 'Marcar como feita!' : 'Refeição realizada!'}}
</button>

<!-- Modal de substituição de item -->
<div class="modal fade" id="editRefeicaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de substituição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <span class="categoria pao" ng-if="produtoSelecionado.dsCategoria == 'Pães e Similares'"> 
                            <img src="images/pao.png" class="img-fluid">
                        </span>
                        <span class="categoria castanha" ng-if="produtoSelecionado.dsCategoria == 'Castanhas'"> 
                            <img src="images/castanha.png" class="img-fluid">
                        </span>
                        <span class="categoria carne" ng-if="produtoSelecionado.dsCategoria == 'Carnes'"> 
                            <img src="images/carne.png" class="img-fluid">
                        </span>
                        <span class="categoria leite" ng-if="produtoSelecionado.dsCategoria == 'Leite e derivados'"> 
                            <img src="images/leite.png" class="img-fluid">
                        </span>
                        <span class="categoria arroz" ng-if="produtoSelecionado.dsCategoria == 'Arroz'"> 
                            <img src="images/arroz.png" class="img-fluid">
                        </span>
                        <span class="categoria feijao" ng-if="produtoSelecionado.dsCategoria == 'Feijão'"> 
                            <img src="images/feijao.png" class="img-fluid">
                        </span>
                        <span class="categoria vegetal" ng-if="produtoSelecionado.dsCategoria == 'Vegetal refogado, grelhado ou vapor'"> 
                            <img src="images/vegetal.png" class="img-fluid">
                        </span>
                        <span class="categoria fruta" ng-if="produtoSelecionado.dsCategoria == 'Fruta'"> 
                            <img src="images/fruta.png" class="img-fluid">
                        </span>
                        <div class="d-flex">
                            <span class="align-self-center p-2 bd-highlight">{{produtoSelecionado.dsCategoria}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            Trocar <span class="font-italic">{{produtoSelecionado.dsProduto}}</span> por: <strong>{{novoProdutoSelecionado.dsProduto}}</strong>
                        </p>
                    </div>
                </div>
                <div class="list-group" style="overflow-y: auto; height: 250px; padding: 0">
                    <li class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="list" ng-repeat="produto in listaSubstituicao"
                        ng-click="selecionaNovoProduto(produto)">
                        <h5 class="mb-1">{{produto.dsProduto}}</h5>
                        <small>{{produto.nrGrama}}{{produto.unidade}} ou {{produto.nrMedida}} {{produto.dsMedida}}</small>
                    </li>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i> Fechar
                </button>
                <button type="button" class="btn btn-primary" ng-disabled="novoProdutoSelecionado == undefined" ng-click="substituiProduto()">
                    <i class="fa fa-retweet" aria-hidden="true"></i> Substituir
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmação de refeição realizada -->
<div class="modal fade" id="confirmaRefeicao" tabindex="-1" role="dialog" aria-labelledby="confirmaRefeicaoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmaRefeicaoLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="p-2">Você já fez esta refeição hoje?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i> Fechar
                </button>
                <button type="button" class="btn btn-primary" ng-click="confirmaRefeicao(refeicao)">
                    <i class="fa fa-check" aria-hidden="true"></i> Sim
                </button>
            </div>
        </div>
    </div>
</div>