<img src="images/desjejum.jpg" class="img-fluid">
<div class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="produto in produtos">

        <span class="categoria pao" style="float:right;" ng-if="produto.dsCategoria == 'Pães e Similares'"> 
            <img src="images/pao.png" class="img-fluid">
        </span>
        <span class="categoria castanha" style="float:right;" ng-if="produto.dsCategoria == 'Castanhas'"> 
            <img src="images/castanha.png" class="img-fluid">
        </span>
        <span class="categoria carne" style="float:right;" ng-if="produto.dsCategoria == 'Carnes'"> 
            <img src="images/carne.png" class="img-fluid">
        </span>
        <span class="categoria leite" style="float:right;" ng-if="produto.dsCategoria == 'Leite e derivados'"> 
            <img src="images/leite.png" class="img-fluid">
        </span>
        
        <h5 class="mb-1">{{produto.dsProduto}}</h5>

        <small>{{produto.dsMedidaCaseira}} ou {{produto.dsPorcao}}g</small>
    </li>
</div>