<img src="images/emjejum.jpg" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Em jejum'">
<img src="images/desjejum.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Desjejum'">
<img src="images/colacao.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Colação'">
<img src="images/almoco.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Almoço'">
<img src="images/lanche.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Lanche'">
<img src="images/jantar.png" class="img-fluid img-refeicao padding-navbar" ng-if="refeicao.dsRefeicao == 'Jantar'">


<div class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="produto in refeicao.produtos">

        <div hm-press="onPress(produto)">
            <span class="categoria pao" style="float:right;" ng-if="produto.dsCategoria == 'Pães e Similares'"> 
                <img src="images/pao.png" class="img-fluid">
            </span>
            <span class="categoria castanha" style="float:right;" ng-if="produto.dsCategoria == 'Castanhas'"> 
                <img src="images/castanha.png" class="img-fluid">
            </span>
            <span class="categoria carne" style="float:right;" ng-if="produto.dsCategoria == 'Carnes'"> 
                <img src="images/carne.png" class="img-fluid">
            </span>
            <span class="categoria leite" style="float:right;" ng-if="produto.dsCategoria == 'Leite e derivados'"> 
                <img src="images/leite.png" class="img-fluid">
            </span>
            <span class="categoria arroz" style="float:right;" ng-if="produto.dsCategoria == 'Arroz'"> 
                <img src="images/arroz.png" class="img-fluid">
            </span>
            <span class="categoria feijao" style="float:right;" ng-if="produto.dsCategoria == 'Feijão'"> 
                <img src="images/feijao.png" class="img-fluid">
            </span>
            <span class="categoria vegetal" style="float:right;" ng-if="produto.dsCategoria == 'Vegetal refogado, grelhado ou a vapor'"> 
                <img src="images/vegetal.png" class="img-fluid">
            </span>
            <span class="categoria fruta" style="float:right;" ng-if="produto.dsCategoria == 'Frutas'"> 
                <img src="images/fruta.png" class="img-fluid">
            </span>
            <h5 class="mb-1">{{produto.dsProduto}}</h5>

            <small>{{produto.dsMedidaCaseira}} ou {{produto.dsPorcao}}g</small>
        </div>
    </li>
</div>

<!-- Modal -->
<div class="modal fade" id="editRefeicaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de substituição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <span class="categoria pao" ng-if="produtoSelecionado.dsCategoria == 'Pães e Similares'"> 
                            <img src="images/pao.png" class="img-fluid">
                        </span>
                        <span class="categoria castanha" ng-if="produtoSelecionado.dsCategoria == 'Castanhas'"> 
                            <img src="images/castanha.png" class="img-fluid">
                        </span>
                        <span class="categoria carne" ng-if="produtoSelecionado.dsCategoria == 'Carnes'"> 
                            <img src="images/carne.png" class="img-fluid">
                        </span>
                        <span class="categoria leite" ng-if="produtoSelecionado.dsCategoria == 'Leite e derivados'"> 
                            <img src="images/leite.png" class="img-fluid">
                        </span>
                        <div class="d-flex">
                            <span class="align-self-center p-2 bd-highlight">{{produtoSelecionado.dsCategoria}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            Trocar <span class="font-italic">{{produtoSelecionado.dsProduto}}</span> por: <strong>{{novoProdutoSelecionado.dsProduto}}</strong>
                        </p>
                    </div>
                </div>
                <div class="list-group" style="overflow-y: auto; height: 250px; padding: 0">
                    <li class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="list" ng-repeat="produto in listaSubstituicao" ng-click="selecionaNovoProduto(produto)">
                        <h5 class="mb-1">{{produto.dsProduto}}</h5>
                        <small>{{produto.nrGrama}}{{produto.unidade}} ou {{produto.nrMedida}} {{produto.dsMedida}}</small>
                    </li>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-disabled="novoProdutoSelecionado == undefined" ng-click="substituiProduto()">Substituir</button>
            </div>
        </div>
    </div>
</div>